PORT=
JWT_SECRET=
JWT_REFRESH_SECRET=
USERS_MS_HOST=
USERS_MS_PORT=
APPOINTMENTS_MS_HOST=
APPOINTMENTS_MS_PORT=
SERVICES_MS_HOST=
SERVICES_MS_PORT=
PAYMENTS_MS_HOST=
PAYMENTS_MS_PORT=
ANALYTICS_MS_HOST=
ANALYTICS_MS_PORT=

CLOUDINARY_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET=